* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --gap: 4px;
}

fieldset {
  display: flex;
  gap: 1em;
  border: 1px solid lightgray;
}

form {
  display: flex;
  gap: 1em;
}

label {
  position: relative;
  padding-right: 0.5em;

  &::after {
    content: '"';
    position: absolute;
    right: 0;
  }
}

input {
  width: 3.5em;
  border: 1px solid lightgray;
  border-width: 0 0 1px 0;
  padding: .2em;
}

section.wall {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.wall,
div.row {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
}

div.wall {
  flex-direction: column-reverse;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  outline: dotted 2px darkgray;
  margin-right: 1em;
  padding: calc(var(--gap) / 2);
  counter-reset: num-tiles;
}

div.row {
  flex-direction: row;
  --partialX: 0px;
  --partialY: 0px;
}

.tile {
  flex: 0 0 auto;
  position: relative;
  width: calc(var(--tileW) - var(--gap) + var(--partialX));
  height: calc(var(--tileH) - var(--gap) + var(--partialY));
  outline: solid 1px #ccc;
  color: #666;
  background-color: #eee;
  box-shadow: 0 0 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  /* corner counter */
  overflow: hidden;
  counter-increment: num-tiles;
}

.tile::before,
.tile::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 0.75em;
  opacity: 0;
}

.tile:hover::before,
.tile:hover::after {
  opacity: 0.75;
}

.tile::before {
  content: '';
  width: 3em;
  height: 3em;
  background-color: #0079C611;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translate(-2em);
}

.tile::after {
  content: counter(num-tiles);
  width: 1.25em;
  height: 1.25em;
  text-align: center;
  opacity: 0;
}
