* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --gap: 0px;
  --gap-color: white;
}

fieldset {
  display: flex;
  gap: 1em;
  border: 0 solid lightgray;
  border-top-width: 1px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form#tile,
form section {
  flex-basis: 100%;
  display: flex;
  gap: 1em;
}

label {
  position: relative;
  padding-right: 0.5em;
}

label::after {
  content: attr(data-unit);
  position: absolute;
  right: 0;
}

input,
select {
  border: 1px solid lightgray;
  border-width: 0 0 1px 0;
}

input {
  width: 3.25em;
  padding: .2em .1em;
}

select {
  width: unset;
  font-size: 1.25em;
}

section.wall {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.wall,
div.row {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
}

div.wall {
  flex-direction: column-reverse;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  outline: dotted 2px lightgray;
  margin-right: 1em;
  padding: calc(var(--gap) / 2);
  counter-reset: num-tiles;
}

div.row {
  flex-direction: row;
  position: relative;
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
  --partialX: 0px;
  --partialY: 0px;
  --shift: 0px;
}

div.row.dragging {
  cursor: grabbing;
}

.tile {
  flex: 0 0 auto;
  position: relative;
  width: calc(var(--tileW) - var(--gap));
  height: calc(var(--tileH) - var(--gap));
  margin-left: calc(var(--partialX) + var(--shift));
  margin-top: calc(var(--partialY));
  transition: color ease-in 0.25s;
  color: transparent;
  background-color: #eee;
  box-shadow: 0 0 1px var(--gap) var(--gap-color);
  display: flex;
  justify-content: center;
  align-items: end;
  /* corner counter */
  overflow: hidden;
  counter-increment: num-tiles;
}

section.wall:has(form:hover) .tile,
div.row.dragging .tile,
.tile:hover {
  color: #666;
}

.tile:first-child {
  justify-content: right;
}

.tile:last-child {
  justify-content: left;
}

.tile::before,
.tile::after {
  position: absolute;
  top: calc(0px - var(--partialY));
  left: calc(0px - var(--partialX) - var(--shift));
  display: block;
  font-size: 0.75em;
  opacity: 0;
}

.tile:hover::before,
.tile:hover::after {
  opacity: 0.75;
}

.tile::before {
  content: '';
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background-color: #0079C611;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translate(-2em);
}

.tile::after {
  content: counter(num-tiles);
  width: 1.25em;
  height: 1.25em;
  text-align: center;
}